<h1>All Genres</h1>
<% if current_admin? %>
  <%= form_for [:admin, @genre] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
<% end %>






<% @genres.each do |genre| %>
  <h2><%= link_to genre.name, genre_path(genre) %></h2>
  <% end %>
